body a {
  color: #2294e0;
}

body a:hover {
  color: #2294e0;
  text-decoration: none;
}

a {
  font-size: 1.08em;
  font-weight: bolder;
}

h2,
h3 {
  font: "Montserrat";
  /* font-family: "Lato"; */
}

/* Change in index.html */
/* h2 {
  color: rgb(1 33 105);
} */

h4 {
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  padding: 5px;
  line-height: 1.75em;
}

h5 {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5em;
}

body {
  font: "Montserrat";
  /* font-family: "Lato", sans-serif; */
  background-color: rgb(255, 255, 255);
}

.container a:hover {
  text-decoration: none;
}

/* NAV SECTION */
.jumbotron {
  /* font-family: "Lato", sans-serif; */
  font: "Montserrat";
  background-color: rgba(236, 241, 246, 1);
}

.btn-group {
  background-color: white;
}

.btn {
  background-color: white;
}

#main-nav {
  padding-top: 1px;
  padding-bottom: 1px;
}

label:text-muted,
.nav-link {
  font-family: "Lato";
}

.nav-item {
  font-size: 20px;
}
.header {
  font: "Montserrat";
}

/* -------------------------------CARDS------------------------------- */
.card-title {
  color: black;
  font-size: large;
  font-weight: 600;
  line-height: 1.5em;
}

.pp-card {
  margin: 15px;
  /* margin-bottom: 37px; */
  width: 100%;
  max-width: 340px; 
  display: block;
  overflow: hidden;
}

.pp-card-header {
  border-radius: 15px;
  border: 1.3px solid rgb(231, 231, 231);
  font: "Montserrat";
  min-height: 340px; /* Default minimum height */
  flex-basis: 24%;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 15px;
  transition: transform 0.2s; /* Smooth scaling effect */
}

.pp-card-header:hover {
  transform: scale(1.05); /* Slightly scale up on hover */
}

.pp-mode-mini .pp-card-header {
  height: 175px;
  border: 1px solid #eee;
}

.pp-card-footer {
  position: absolute;
  width: 100%;
  bottom: 3px;
}

.pp-mode-mini .pp-card-header .card-title {
  font-size: 17px;
}

.cards_img {
  margin-top: 20px;
  border-radius: 2px;
  max-height: 180px;
  object-fit: scale-down;
}

body .nav-pills .nav-link.active {
  background-color: #bed972;
}

.container {
  margin-top: 10px;
}

.card {
  font: "Latto";
}

.card-header {
  font-family: "Exo";
}

.card-header .card-title {
  font-family: "Exo";
}

.cards.myCard {
  display: flex;
  flex-flow: row wrap;
  margin-left: 0;
  justify-content: space-around;
  align-items: stretch;
  box-sizing: border-box;
}

.cards {
  margin-top: 10px;
}

.card-title {
  margin-top: 10px;
  font-size: 20px;
}

h2.card-title {
  margin-top: 10px;
  font-size: 30px;
}

h3.card-subtitle.text-muted {
  margin-top: 10px;
  font-size: 20px;
}

.card-subtitle.text-muted {
  text-align: center;
  font-size: 13px;
}

.main-title {
  font-weight: 700;
  color: #2294e0;
  font-family: "Exo";
}

/* Ensure the .pp-card scales down on smaller screens */
@media (max-width: 768px) {
  .pp-card {
    max-width: none; /* Allow the card to fill the container */
    width: auto; /* Set width to auto to fill the flex container */
  }

  .pp-mode-mini .pp-card-header {
    min-height: 175px; /* Responsive height for mini mode */
  }
}

/* -------------------------------POSTER PAGE------------------------------- */

/* Task name styling */
.task-name {
  font-size: 40px;
}

/* Title text styling */
.title-text {
  font-size: 1.8em; /* 25.6px if the base font size is 16px */
  /* text-decoration: underline; */
  color: rgb(1 33 105);
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

/* Model name styling */
.model-name {
  font-size: 1.6em; /* 22.4px if the base font size is 16px */
  color: #3e3b3b;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  font-weight: bold;
}

/* Introductory statement styling */
.intro-statement {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5em;
  color: #2a2a2a;
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: normal;
}

/* Start of list styling */
.start-list {
  font-size: 1.2em; /* 19.2px if the base font size is 16px */
  color: #2a2a2a;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.5em;
}

/* Model description list styling */
.model-description {
  list-style-type: disc; /* Default style */
  margin-left: 20px; /* Indentation for the list */
  padding-left: 0;
}

.model-description li {
  font-size: 1.05em; /* 16px */
  color: #444;
  margin-bottom: 0.25em; /* Spacing between list items */
  line-height: 1.6; /* Spacing between lines within an item */
}

/* -------------------------------POSTER PAGE FINISH------------------------------- */

.slp iframe {
  background: #fff;
  margin: 5px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
  display: flex;
}

/* .carousel-inner .carousel-item-right.active, */

/* .carousel-inner .carousel-item-next { */

/*   transform: translateX(25%); */

/* } */

/* .carousel-inner .carousel-item-left.active, */

/* .carousel-inner .carousel-item-prev { */

/*   transform: translateX(-25%); */

/* } */

/* .carousel-inner .carousel-item-right, */

/* .carousel-inner .carousel-item-left{ */

/*   transform: translateX(0); */

/* } */

.carousel-control-prev-icon {
  filter: invert(1);
  transform: translateX(-200%);
}

div.anchor {
  display: block;
  position: relative;
  top: -250px;
  visibility: hidden;
}

.carousel-control-next-icon {
  filter: invert(1);
  transform: translateX(200%);
}

.border {
  background: #fff;
  padding: 10px;
  border: 4px solid #eee;
  box-shadow: rgb(204, 204, 204) 2px 2px 14px 0;
}

tr.fc-list-item {
  cursor: pointer;
}

.details {
  font-family: "Lato", sans-serif;
}

#abstractExample.collapse:not(.show) {
  display: block;

  /* height = lineheight * no of lines to display */
  height: 4.5em;
  overflow: hidden;
}

#abstractExample.collapsing {
  height: 4.5em;
}

#absShow.collapsed::after {
  content: "+ Show More";
}

#absShow:not(.collapsed)::after {
  content: "- Show Less";
}

body .carousel-control-next,
body .carousel-control-prev {
  width: 5%;
}

.icon_video,
.icon_cal {
  fill: #6c757d;
}

.icon_video:hover,
.icon_cal:hover {
  fill: #000;
}

.checkbox-paper {
  opacity: 0;
  color: #fcfcfc;
  font-size: 14pt;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 100ms;
}

.checkbox-bookmark {
  opacity: 0;
  color: #ddd;
  font-size: 18pt;
  font-weight: bold;
  cursor: pointer;
  transition-duration: 100ms;
}

/* .checkbox-paper.selected {
  opacity: 1;
  color: #6c757d;
} */

/* .checkbox-bookmark.selected {
  opacity: 1;
  color: #bed972;
}  */

/*@supports (-webkit-text-stroke: 1px gray) {*/
/*  .checkbox-paper {*/
/*    opacity: 0.2;*/
/*    -webkit-text-stroke: 1px gray;*/
/*    -webkit-text-fill-color: white;*/
/*  }*/

/*  .checkbox-paper.selected {*/
/*    opacity: 1;*/
/*    -webkit-text-fill-color: #bed972;*/
/*  }*/
}
