{% set page_title = paper.title %}
{% extends "base.html" %}

{% block head %}

{{ super() }}
<meta name="citation_title" content="{{paper.title}}"/>
{% for author in paper.authors %}
<meta name="citation_author" content="{{author}}"/>
{% endfor %}
<meta name="citation_publication_date" content="{{config.citation_date}}"/>
<meta name="citation_conference_title"
      content="{{config.tagline|striptags|title}}"/>
<meta name="citation_inbook_title" content="{{config.proceedings_title}}"/>
<meta name="citation_abstract" content="{{paper.abstract}}"/>
{% for keyword in paper.keywords %}
<meta name="citation_keywords" content="{{keyword}}"/>
{% endfor %}
<meta name="citation_pdf_url" content="{{paper.pdf_url|default('') }}"/>

{% endblock %}

{% block top %}

<style>
  .back {
    /* background: url("{{config.background_image}}") no-repeat center; */
    background-size: cover;
  }
  .back h2 {
    /* font-family: "Lato", sans-serif; */
    font: "Montserrat";
    font-weight: 900;
    font-size: 270%;
    color: rgb(1 33 105);
  }

  .h4 {
    text-align: center;
  }
</style>

<div class="jumbotron jumbotron-fluid back" style="padding-bottom: 20px;">
  <div class="row header p-6 m-5">
    <div class="p-1 mx-auto text-center text-white col-md-9 col-sm-12">
      <h2 class="p-5">
        <!-- {{config.date|safe}} -->
      </h2>
      <h2>
        {{paper.title}}
      </h2>
    </div>
  </div>
</div>
{% endblock %}


{% block content %}
<div class="content">
    <h5>
        {{paper.abstract}}
    </h5>
    <div class="border-top my-3"></div>
    <h4 class="title-text">Our Top Picks</h4>
    <h4 class="model-name">{{paper.authors[0]}}</h4>
    <h6 class="intro-statement">{{paper.keywords[0]}}</h6>
    <h6 class="start-list">{{paper.keywords[1]}}</h6>
    <ul class="model-description">
      {% for keyword in paper.keywords[2:6] %}
          <li>{{ keyword }}</li>
      {% endfor %}
    </ul>
    <h6 class="start-list">{{paper.keywords[6]}}</h6>
    <ul class="model-description">
      {% for keyword in paper.keywords[7:9] %}
          <li>{{ keyword }}</li>
      {% endfor %}
    </ul>   
    <a href="{{ paper.keywords[-1] }}" title="Link to Google Collab">Try out {{ paper.authors[0] }}!</a>
    <h4 class="model-name">{{paper.authors[1]}}</h4>
    
    
</div>

<!-- Title -->
<!-- <div class="pp-card m-3" style="">
    <div class="card-header">
        <h2 class="card-title main-title text-center" style="">
            {{paper.title}}
        </h2>
        <h3 class="card-subtitle mb-2 text-muted text-center">
            {% for author in paper.authors %}
            <a href="papers.html?filter=authors&search={{author}}"
               class="text-muted"
            >{{author}}</a
            >{{ "," if not loop.last }}
            {% endfor %}
        </h3>
        <p class="card-text text-center">
            <span class="">Keywords:</span>
            {% for keyword in paper.keywords %}
            <a
                    href="papers.html?filter=keywords&search={{keyword}}"
                    class="text-secondary text-decoration-none"
            >{{keyword}}</a
            >{{ "," if not loop.last }}
            {% endfor %}
        </p>
        <div class="text-center p-3">
            <a class="card-link" data-toggle="collapse" role="button"
               href="#details">
                Abstract
            </a>
            <a class="card-link" target="_blank" href="{{paper.link}}">
                Paper
            </a>
            {% if paper.code_link != blank %}
            <a href="{{paper.code_link}}" target="_blank" class="card-link">
                Code
            </a>
            {% endif %}
        </div>
    </div>
</div>
<div id="details" class="pp-card m-3 collapse">
    <div class="card-body">
        <div class="card-text">
            <div id="abstractExample">
                <span class="font-weight-bold">Abstract:</span>
                {{paper.abstract}}
            </div>
        </div>
        <p></p>
    </div>
</div> -->

{% endblock %}
